{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <section class="intro">
        <h1>Welcome to my blog!</h1>
        <p>In this space, I'll be sharing my thoughts and insights on data science, artificial intelligence, and technology. From exploring the latest trends in machine learning to diving into real-world applications, I aim to offer valuable content for both seasoned professionals and those new to the field. You'll also find reflections on the intersection of AI and society, as well as personal experiences and projects I'm working on. Join me as I explore the evolving world of data and tech!</p>
    </section>

    <section class="featured">
        <h2>Featured Posts</h2>
        <div class="featured-posts">
            {% for post in featured_posts %}
                <div class="card">
                    <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
                    <p>{{ post.summary }}</p>
                    <a href="{{ post.link }}" class="read-more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}