<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Kyle B. Neary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navigation Bar -->
     <header>
        <a class="brand" href="/">Kyle B. Neary</a>

        <!-- nav list -->
        <ul id="site-nav" class="nav" data-open="false">
            <li><a href="{{ url_for('home_bp.index') }}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href="{{ url_for('blog_bp.index') }}" class="{% if request.path.startswith('/blog') %}active{% endif %}">Blog</a></li>
            <!--<li><a href="{{ url_for('projects_bp.index') }}" class="{% if request.path.startswith('/projects') %}active{% endif %}">Projects</a></li>-->
            <li><a href="{{ url_for('about_bp.index') }}" class="{% if request.path.startswith('/about-me') %}active{% endif %}">About Me</a></li>
        </ul>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Kyle Neary</p>
        <span>|</span>
        <div class="social-icons">
            <!--<a href="https://twitter.com/yourhandle" target="_blank" class="fab fa-twitter"></a>-->
            <a href="https://linkedin.com/in/kylebneary" target="_blank" class="fab fa-linkedin"></a>
            <!--<a href="https://github.com/yourhandle" target="_blank" class="fab fa-github"></a>-->
            <!--<a href="https://instagram.com/yourhandle" target="_blank" class="fab fa-instagram"></a>-->
        </div>
    </footer>
</body>
</html>
