{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <section class="intro">
        <h1>Welcome!</h1>
        <p>I’m Kyle Neary, a Data Scientist and former Astrophysicist passionate about AI, data science, and technology. I’ve worked across various industries, including finance, retail, and hospitality. Feel free to explore my blog and projects!</p>
        <p>This site features my blog, interactive data apps, and a digital resume.</p>
        <p>Everything is still under construction for now, but check back soon to explore my work, projects, and insights on Data Science and AI!</p>
    </section>
<!--
    <section class="featured">
        <h2>Featured Posts</h2>
        <div class="featured-posts">
            <div class="card">
                <h3><a href="/blog/article1">Understanding AI and Ethics</a></h3>
                <p>Exploring the ethical implications of AI technologies and their impact on society.</p>
                <a href="/blog/article1" class="read-more">Read More</a>
            </div>
            <div class="card">
                <h3><a href="/blog/article2">Machine Learning in Action</a></h3>
                <p>A hands-on guide to implementing machine learning models in real-world scenarios.</p>
                <a href="/blog/article2" class="read-more">Read More</a>
            </div>
            <div class="card">
                <h3><a href="/blog/article3">The Future of AI</a></h3>
                <p>Discussing where AI technology is headed and the future implications for industries.</p>
                <a href="/blog/article3" class="read-more">Read More</a>
            </div>
        </div>
    </section>
-->
{% endblock %}
